@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --blue: hsl(246, 80%, 60%);
  --peach: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --gray: hsl(234, 39%, 85%);
  --desat-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  --font-size: 18px;
}

body,
html,
#root {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
}

#root {
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
